RewriteEngine On
RewriteRule  ^projects/(.*)$ index.php?proj=$1 [QSA]
RewriteRule  ^about$ index.php?static=about [QSA]
RewriteRule  ^resume$ index.php?static=resume [QSA]
RewriteRule  ^test$ index.php?static=test [QSA]
