body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  background: url(../images/bg.gif) repeat;
  font-weight: 300;
  line-height: 1.15;
}
a {
  color: #384556;
  font-weight: lighter;
  text-decoration: none;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
p {
  font-size: 14px;
  line-height: 20px;
}
span {
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
}
#container {
  width: 100%;
  margin: 0, auto;
}
/* Header Style */

#header-wrapper {
  width: 100%;
  padding: 0px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  z-index: 400;
}
#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
#header a {
  color: #333;
  font-weight: 300;
  text-shadow: #fff 1px 1px 1px;
}
#banner {
  width: 335px;
  height: 80px;
  padding: 0;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#logo {
  padding: 20px 0;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#logo a {
  display: block;
  position: relative;
}
#logo img {
  height: 40px;
  display: block;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#logo h1 {
  position: absolute;
  top: 0;
  left: 55px;
  margin: 0;
  font-weight: 200;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#nav {
  position: absolute;
  top: 0;
  right: -10px;
}
#nav ul {
  list-style: none;
  margin: 0;
}
#nav ul li {
  float: left;
}
#nav ul li a {
  display: block;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.zoomed #banner {
  height: 50px;
}
.zoomed #logo {
  padding: 10px 0;
}
.zoomed #logo h1 {
  font-size: 28px;
  left: 45px;
}
.zoomed #logo img {
  height: 30px;
}
/* Body Style */

#main-wrapper {
  width: 100%;
  position: relative;
  z-index: 60;
  padding-top: 90px;
}
#main {
  width: 1110px;
  margin: 0 auto;
  margin-top: 20px;
}
/* Footer Style */

#footer {
  font-size: 12px;
  margin: 15px auto;
  padding: 0 15px;
}
#rights {
  text-align: center;
  margin: 25px 0 10px 0;
}
#rights-c:after {
  content: " | ";
}
#backtop {
  text-align: right;
}
/* Web Font */

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/Roboto_100.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto_300.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/Roboto_400.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto_500.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto_700.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../fonts/Roboto_900.woff) format('woff');
}
/* Width based on Screen Width */

@media screen and (min-width: 1850px) {
  #main, #header {
    width: 1850px;
  }
}
@media screen and (max-width: 1850px) and (min-width: 1480px) {
  #main, #header {
    width: 1480px;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1110px) {
  #main, #header {
    width: 1110px;
  }
}
@media screen and (max-width: 1110px) and (min-width: 740px) {
  #main, #header {
    width: 740px;
  }
}
@media screen and (min-width: 741px) {
  #nav ul li a {
    padding: 30px 20px;
    font-size: 20px;
  }
  .zoomed #nav ul li a {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 740px) {
  #main {
    width: 370px;
  }
  #header {
    margin: 0 auto;
    width: 350px;
  }
  #banner {
    width: 180px;
    height: 50px;
    margin: auto;
  }
  #logo {
    padding: 10px 0;
  }
  #logo img {
    height: 32px;
  }
  #logo h1 {
    left: 40px;
    font-size: 30px;
  }
  #nav {
    position: inherit;
    right: 0px;
    overflow: auto;
    border-top: dotted 1px;
  }
  #nav ul {
    padding: 0;
  }
  #nav ul li a {
    padding: 5px 20px 5px 10px;
    font-size: 20px;
  }
  #main-wrapper {
    padding-top: 70px;
    /* When nav toggle, 40 */
  }
  #rights-c:after {
    content: "";
    display: block;
  }
  .zoomed #nav {
    height: 0;
    border-top: hidden;
  }
  .zoomed #banner {
    height: 40px;
  }
  .zoomed #logo {
    padding: 8px 0;
  }
  .zoomed #logo h1 {
    font-size: 24px;
    left: 35px;
  }
  .zoomed #logo img {
    height: 25px;
  }
}
