#intro-wrapper {
  margin-bottom: 25px;
  width: 100%;
}
#intro {
  border-radius: 3px;
  padding: 8px 15px;
  position: relative;
}
#intro-background {
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
#intro p {
  font-size: 30px;
  font-weight: lighter;
  line-height: 40px;
  margin: 0;
  text-shadow: 1px 1px 2px #fff;
}
#intro p:first-child {
  margin-bottom: 10px;
}
#intro p span {
  font-size: inherit;
  font-weight: normal;
}
#proj-wrapper {
  margin-bottom: 50px;
  margin-left: -1.78%;
  overflow: hidden;
  position: relative;
  width: 107.14%;
}
.proj-thumb {
  background-color: white;
  box-shadow: 0px 1px 4px 0px #ccc;
  box-sizing: border-box;
  float: left;
  margin: 0 1.78% 50px;
  overflow: hidden;
  width: 28.7%;
}
.double {
  width: 60.8%;
}
.proj-overview {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.proj-overview a {
  text-decoration: none;
}
.proj-overview img {
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}
.proj-overview h2 {
  color: #333;
  font-weight: 400;
  line-height: 28px;
  margin: 5px 15px 5px 15px;
}
.proj-overview h3 {
  color: #333;
  font-weight: 300;
  margin: 0 15px 7px 15px;
  opacity: .8;
}
.proj-overview p {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 3px 15px 5px 15px;
}
.proj-overview .proj-header {
  overflow: hidden;
  position: relative;
}
.proj-overview .proj-header .overlay {
  background: rgba(10, 10, 10, .7);
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  -moz-transition: color .3s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: color .3s ease-in-out, opacity .4s ease-in-out;
  transition: color .3s ease-in-out, opacity .4s ease-in-out;
  width: 100%;
  z-index: 100;
}
.proj-overview .proj-header span {
  border-bottom: 2px solid #eb911c;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 18px;
  opacity: .1;
  padding: 0 15px 0 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -10%;
  -moz-transition: top .2s ease-in-out, opacity .3s ease-in-out;
  -webkit-transition: top .2s ease-in-out, opacity .3s ease-in-out;
  transition: top .2s ease-in-out, opacity .3s ease-in-out;
  width: 100%;
}
.proj-overview .proj-header:hover .overlay {
  opacity: 1;
}
.proj-overview .proj-header:hover span {
  opacity: 1;
  top: 50%;
}
.proj-skills {
  margin: 0 15px 15px;
}
.proj-skills a {
  border-bottom: 1px solid;
  border-color: white;
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin-right: 5px;
  margin-top: 5px;
  padding-bottom: 2px;
  text-decoration: none !important;
}
.top-radius {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
@media screen and (max-width: 1150px) {
  .proj-thumb {
    width: 44.8%;
  }
  #intro p {
    font-size: 26px;
  }
}
@media screen and (max-width: 840px) {
  #intro p {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (max-width: 600px) {
  .proj-thumb {
    width: 93%;
  }
  #main-wrapper {
    padding-top: 60px;
  }
  #intro-wrapper {
    margin-bottom: 10px;
  }
  .proj-thumb {
    margin-bottom: 20px;
  }
  #proj-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  #main-wrapper {
    padding-top: 10px;
  }
  #intro-wrapper {
    display: none;
  }
  #proj-wrapper {
    margin-bottom: 0;
  }
  .proj-thumb {
    margin-bottom: 20px;
  }
}
