#main-sidebar, #proj-detail {
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #ccc;
}
/* Left Sidebar, project list */

#main-sidebar {
  float: left;
  width: 200px;
}
#main-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-sidebar a {
  border: none;
  display: block;
  padding: 20px;
}
#main-sidebar li:hover {
  background-color: #e7eaf0;
}
#main-sidebar li[active] {
  background-color: #e7eaf0;
}
#main-sidebar h4 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}
#main-sidebar h5 {
  font-weight: inherit;
  margin: 0;
}
/* Project detail */

#proj-detail {
  margin-left: 220px;
  overflow: auto;
  padding: 20px;
}
#proj-detail a {
  border-bottom: 1px dotted #384556;
}
#proj-detail .proj-list {
  font-size: 14px;
  line-height: 20px;
  list-style: initial;
  padding-bottom: 10px;
  padding-left: 25px;
}
#proj-detail li {
  margin: 3px 0;
}
#proj-detail video {
  max-width: 100%;
}
#proj-intro {
  margin-right: 170px;
  overflow: hidden;
  padding-right: 30px;
}
#proj-intro h2 {
  color: #333;
  font-weight: 300;
  margin: 0 0 15px 0;
}
#proj-intro .proj-highlight {
  background-color: #e7eaf0;
  border-radius: 4px;
  border-style: none;
  display: block;
  line-height: 20px;
  margin: 12px 0;
  padding: 7px 15px;
}
#proj-intro h4 {
  border: solid #ddd;
  border-width: 0 0 1px 0;
  font-size: 24px;
  font-weight: normal;
  margin: 15px 0 10px 0;
  padding: 0 0 0.3em 0;
}
#proj-intro p {
  margin: 6px 0;
}
#proj-intro img {
  max-width: 100%;
  width: 100%;
}
#proj-content-video {
  width: 100%;
  overflow: auto;
}
/* Project attributes, right sidebar */

#proj-attribute {
  border-color: #ddd;
  border-left: dotted 1px;
  float: right;
  padding-left: 15px;
  width: 150px;
}
#proj-attribute h5 {
  color: #505a64;
  font-size: 14px;
  font-weight: 400;
  margin: .7em 0 .3em 0;
}
#proj-attribute span {
  display: block;
  line-height: 20px;
  margin: 6px 0;
}
/* Project 09 Global Guider */

img.proj-09-solution {
  margin-right: 5px;
}
#proj-09-theory-container {
  overflow: auto;
}
#proj-09-theory-text {
  float: left;
  max-width: 100%;
  overflow: auto;
  width: 320px;
}
#proj-09-theory-img {
  float: right;
  margin: 10px 0;
  width: 310px !important;
}
/* Base on device width */

@media screen and (min-width: 1110px) {
  img.proj-09-solution {
    height: 240px;
    width: 250px !important;
  }
  #proj {
    margin: 0 auto;
    width: 1100px;
  }
}
@media screen and (max-width: 1110px) and (min-width: 740px) {
  img.proj-09-solution {
    width: 100%;
  }
  #main-sidebar {
    width: 190px;
  }
  #proj-detail {
    margin-left: 200px;
  }
}
@media screen and (max-width: 740px) {
  #main-sidebar {
    display: none;
  }
  #proj-detail {
    margin-left: 0;
  }
  #proj-attribute {
    display: none;
  }
  #proj-intro {
    margin-right: 0;
    padding-right: 0;
  }
}
/* For project */

#vdo-napochi {
  width: 100%;
  height: 0 !important;
  padding-bottom: 56.2%;
}
.vjs-res-button .vjs-control-text {
  right: 3px;
}
#proj-detail .vjs-default-skin .vjs-big-play-button {
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -2em;
}
