.static {
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #ccc;
  overflow: auto;
  padding: 0 20px 40px 20px;
}
.static a {
  border-bottom: 1px dotted #384556;
}
#about div {
  float: left;
  width: 650px;
}
#about img {
  float: right;
  margin-top: 80px;
  width: 290px;
}
#resume h2 {
  color: #333;
  font-size: 28px;
  font-weight: 300;
  margin: 16px 0;
}
#resume h4 {
  border: solid #ddd;
  border-width: 0 0 1px 0;
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0 10px 0;
  padding: 0 0 0.3em 0;
  padding-bottom: .5em;
  text-transform: uppercase;
}
#resume h5 {
  font-size: 14px;
  font-weight: normal;
  margin: .5em 0;
}
#resume-skill {
  border-color: #ddd;
  border-left: solid 1px;
  float: right;
  padding-left: 15px;
  width: 200px;
}
#resume-skill span {
  display: block;
  line-height: 20px;
  margin: 0 0 0 8px;
}
#resume-download {
  height: 50px;
}
#resume-content {
  overflow: auto;
}
.resume-case {
  margin-bottom: 12px;
  padding-left: 1em;
  position: relative;
}
.resume-case .company {
  font-weight: normal;
  margin: 4px 0;
}
.resume-case .title {
  display: block;
  font-weight: bold;
  margin: 4px 0;
}
.resume-case .description {
  font-size: 13px;
  list-style: disc inside;
  margin: 5px 0 5px 5px;
  padding-left: 0;
}
.resume-case .description li {
  line-height: 20px;
}
.resume-case .date {
  display: block;
}
@media screen and (min-width: 1110px) {
  .static {
    margin: 0 auto;
    width: 960px;
  }
}
@media screen and (max-width: 1110px) {
  .company {
    display: block;
  }
}
@media screen and (min-width: 741px) {
  #resume-content {
    margin-right: 230px;
    padding-right: 30px;
  }
  .resume-case .date {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 740px) {
  #resume-skill {
    display: none;
  }
  #resume h2 {
    font-size: 22px;
  }
  .static {
    margin-top: 35px;
  }
}
