body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  zoom: 1;
  margin: 0;
  background: url("../images/bg.gif") repeat;
}

#container {
  width: 100%;
  margin: 0px, auto;
}

.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
}

/* Header Style */

#header_wrapper {
  width: 100%;
  padding: 0px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#header a {
  text-decoration: none;
  color: #333;
  font-weight: 200;
  text-shadow: #fff 1px 1px 1px;
}

#banner {
  width: 335px;
  height: 80px;
  padding: 0;
}

#logo {
  padding: 20px 0;
}

#logo a {
  display: block;
  position: relative;
}

#logo img {
  height: 40px;
  display: block;
}

#logo span {
  font-size:38px;
  position: absolute;
  top: 0px;
  left: 55px;
}

#navigation {
  position: absolute;
  top: 0px;
  right: -10px;
}

#navigation ul {
  list-style: none;
  margin: 0px;
}

#navigation ul li {
  float: left;
}

#navigation ul li a {
  display: block;
  padding: 30px 20px;
  font-size: 20px;
  text-transform: uppercase;
}

/* Body Style */

#main {
  margin: 0 auto;
}

#intro {
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  text-shadow: 1px 1px 2px #fff;
}

/* Width based on Screen Width */

@media screen and (min-width: 1900px) {
  #main-wrapper {
    width: 1860px; }

  #header {
    width: 1860px; } }
@media screen and (max-width: 1900px) and (min-width: 1520px) {
  #main-wrapper {
    width: 1490px; }

  #header {
    width: 1490px; } }
@media screen and (max-width: 1520px) and (min-width: 1140px) {
  #main-wrapper {
    width: 1120px; }

  #header {
    width: 1120px; } }
@media screen and (max-width: 1140px) and (min-width: 770px) {
  #main-wrapper {
    width: 750px; }

  #header {
    width: 750px; } }
@media screen and (max-width: 770px) {
  #main-wrapper {
    width: 370px; }

  #header {
    width: 370px; }

  #navigation {
    display: none; }

  #intro {
    font-size: 22px;
    line-height: 29px; }

  #banner {
    margin: 0 auto; }

  #banner.zoomed {
    width: 190px; }

  #footer .alignright {
    display: none; } }
@media screen and (min-device-width: 320px) and (max-device-width: 568px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #main-wrapper {
    width: 370px; }

  #header {
    width: 370px; }

  #navigation {
    display: none; }

  #intro {
    font-size: 22px;
    line-height: 29px; }

  #banner {
    margin: 0 auto; }

  #banner.zoomed {
    width: 190px; }

  #footer .alignright {
    display: none; } }
